header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-family: "DM Sans";
  font-style: normal;
  color: #d04f4f;
  text-align: center;
  font-size: 36px;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
}
.bodyContainer {
  max-width: 1200px;
  width: 100%;
}
/* ---------- search bar ----------- */

.searchBarContainer label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 17px 0px;
  width: 100%;
  background: #e7e7e7;
  border-radius: 5px;
  height: 69px;
}

.searchBarContainer input {
  width: 100%;
  height: 69px;
  margin: 17px 0px;
  background: #e7e7e7;
  border-radius: 5px;
  border: none;
  padding-left: 22px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.searchBarContainer input::placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.searchBarContainer button {
  position: absolute;
  right: 16px;
  border: none;
  background-color: transparent;
  font-size: 30px;
}

/* ----------  ----------- */

/* ---------- FilterList ----------- */

.filterListContainer ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filterSelectedBox {
  height: 37px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin:  2.5px 15px 2.5px 0px;
  border-radius: 5px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 0px 5px;
}

.filterSelectedBox p {
  margin: 0px 5px;
}

.filterSelectedBox button {
  border-radius: 100%;
  background-color: transparent;
  border: solid 2px #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
  padding: 3px 6px;

}
.filterSelectedBox i {
  color: #fff;
  padding: 0px;
  font-size: 14px;

}

/* ----------  ----------- */

/* ---------- FilterCategory ----------- */

.filterCategoryContainer {
  display: flex;
  height: 69px
}

.filterCategoryBlock {
  min-width: 170px;
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.filterCategoryHeader {
  display: flex;
  position: relative;
  width: 100%;
  height: 69px;
  align-items: center;
}
.filterCategoryHeader input {
  width: 100%;
  border: none;
  height: 69px;
  background-color: transparent;
  z-index: 2;
}

.filterCategoryHeader input::placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  opacity: 0.5;
  padding-left: 15px;
}

.filterName {
  position: absolute;
  left: 15px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  z-index: 1;
}
.filterCategoryHeader button {
  position: absolute;
  right: 15px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  z-index: 3;
}
.filterList {
  position: relative;
  top: -5px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0px;
  border-radius: 0px 0px 5px 5px;
}
.filterList li {
  list-style: none;
  width: 180px;
  margin-left: 15px;
}

.filterList button {
  border: none;
  background-color: transparent;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-align: start;
}

/* ---------- cards ----------- */
.recipesCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipesCards {
  background: #e7e7e7;
  border-radius: 5px;
  width: 380px;
  margin: 25px 0px;
}

.imgContainer {
  height: 178px;
  background-color: #c7bebe;
  border-radius: 5px 5px 0px 0px;
}

.recipesCards h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}
.headerCard {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}
.headerCard span {
  display: flex;
  align-items: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.headerCard i {
  margin-right: 5px;
  font-size: 20px;
}

.descriptionContainer {
  padding: 0px 20px;
  display: flex;
  flex-direction: row-reverse;

  justify-content: space-between;
}

.descriptionContainer p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  max-width: 171px;
}
.descriptionContainer ul {
  list-style: none;
  padding: 0px;
}
.descriptionContainer li {
  font-family: "Lato";
  font-style: normal;

  font-size: 12px;
  line-height: 14px;
}
.typeIngredient {
  font-weight: 700;
}

/* === ============ === */
